* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 20px;
}

:root {
    --secondary-color: #B5DCFF;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

nav {
    background-color: #0084FD;
}



/* contenitori */

.conteiner {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    border: 1px dashed red;
}



/* padding */

.pad-1r {
    padding: 1rem;
}



/* dimensionamento colonne */


.row {
    display: flex;
    flex-wrap: wrap;
}

.col {

    padding: 1rem;
}

.card {
    padding: 1rem;
    background-color: var(--secondary-color);
    border-radius: 20px;
}

.col-1_3 {
    flex-basis: calc(100% / 3)
}

.col-2_3 {
   flex-basis: calc((100% / 3) * 2);
}


/* img-resize */

.img-logo {
    display: block;
    width: 100%;
}

/* ------------ 
   responsive 
--------------- */

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}