* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 20px;
}

:root {
    --primary-color: #9692E4;
    --secondary-color: #B5DCFF;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    list-style: none;
}

nav {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #0084FD;
}




/* contenitori */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}

.container-small {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
}





/* padding */

.pad-1r {
    padding: 1.5rem 0;
}

.pad-1-05 {
    padding: 1.5rem .5rem;
}

.pad-sottonav {
    padding: 4rem 0 1.5rem;
}

/* text align */


.tex-cent {
    text-align: center;
}

/* modifiche nav */

.row-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-nav-left {
    padding: .3rem;
}

.row-nav-right {
    padding: .3rem;
    text-align: center;
}

/* modifiche section */

.bg-color-p {
    background-color: var(--primary-color);
}

/* dimensionamento colonne */


.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    padding: .5rem;
}


.col-1_1 {
    flex-basis: 100%;
}

.col-1_2 {
    flex-basis: calc(100% / 2);
}

.col-1_3 {
    flex-basis: calc(100% / 3)
}

.col-1_4 {
    flex-basis: calc(100% / 4);
}

.col-3_4 {
    flex-basis: calc((100% / 4) * 3);
}

.col-2_3 {
    flex-basis: calc((100% / 3) * 2);
}

/* card */

.card {
    padding: .5rem;
    background-color: var(--secondary-color);
    border-radius: 20px;
}

.card-white {
    padding: .5rem;
    background-color: white;
    border-radius: 20px;
}

.card-purple {
    padding: .5rem;
    background-color: var(--primary-color);
    border-radius: 20px;
}

/* img-resize */

.img-logo {
    display: block;
    width: 100%;
}

/* ------------ 
   responsive 
--------------- */


@media screen and (min-width: 768px) {

    .col-md-1_1 {
        flex-basis: 100%;
    }

    .col-md-1_2 {
        flex-basis: calc(100% / 2);
    }
    
    .col-md-1_3 {
        flex-basis: calc(100% / 3)
    }
    
    .col-md-1_4 {
        flex-basis: calc(100% / 4);
    }

    .col-md-3_4 {
        flex-basis: calc((100% / 4) * 3);
    }
    
    .col-md-2_3 {
        flex-basis: calc((100% / 3) * 2);
    }

}


@media screen and (min-width: 992px) {

    .col-lg-1_1 {
        flex-basis: 100%;
    }

    .col-lg-1_2 {
        flex-basis: calc(100% / 2);
    }
    
    .col-lg-1_3 {
        flex-basis: calc(100% / 3)
    }
    
    .col-lg-1_4 {
        flex-basis: calc(100% / 4);
    }

    .col-lg-3_4 {
        flex-basis: calc((100% / 4) * 3);
    }
    
    .col-lg-2_3 {
        flex-basis: calc((100% / 3) * 2);
    }

    .container-small {
        width: 70%;
    }

}